<div>
  <h1>Trivia App</h1>
  <form *ngIf="state==='start'">
    <h2>Pick a Category</h2>
    <select
      #categoriesSelect
      (change)="onSelectedCategory(categoriesSelect.value)"
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <h2>Pick a Difficulty</h2>
    <select
      #difficultySelect
      (change)="onSelectedDifficulty(difficultySelect.value)"
    >
      <option default value="">Any Difficulty</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
    <button type="button" (click)="onStartQuiz()">Start</button>
  </form>
  <div *ngIf="state==='quiz'">
    <h2>Question {{ activeQuestion + 1 }}</h2>
    <p>{{triviaQuestions[activeQuestion]?.category}} - {{triviaQuestions[activeQuestion]?.difficulty | titlecase}}</p>
    <p>Time left: {{timeLeft}} seconds</p>
    <h3>{{ triviaQuestions[activeQuestion]?.question }}</h3>
    <div>
      <button 
        *ngFor="let answer of triviaQuestions[activeQuestion]?.answers"
        [value]="answer"
        (click)="onCheckAnswer(answer)"
        [disabled]="answerFeedback || timesUp"
        >{{ answer }}
      </button>
      <p *ngIf="answerFeedback">{{ answerFeedback }}</p>
      <p *ngIf="timesUp">Times Up!</p>
      <button *ngIf="answerFeedback || timesUp" (click)="onNextQuestion()">Next Question</button>
    </div>
  </div>
  <div *ngIf="state==='result'">
    <h2>Your Score:</h2>
    <h3>{{ currentScore }} / {{questionAmount}}</h3>
    <button (click)="onNewGame()">New Game</button>
  </div>
</div>

